/*color*/

$colorPrimaire : #9356DC;
$colorSecondaire : #FF79DA;
$colorTertiare : #99E2D0;
$colorblancgris : #f1f1f1;
$colorGrisTitreMenu : gray;

$colorgradientbutton : linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
$colorgradientcoeur : linear-gradient(360deg, #FF79DA 0%, #9356DC  60%);